body{
  margin: 0;
}
#employees {
  max-height: 440px;
}

.dx-sortable-dragging {
  opacity: 0.9;
}

.options {
  position: relative;
  border: "2px solid red";
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
  margin-right: 40px;
  display: inline-block;
}

.option:last-child {
  margin-right: 0;
}

.options-container {
  display: flex;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border-radius:  0  0 20px 20px; 
  margin-bottom: 20px;
}
.dx-treelist-headers.dx-treelist-nowrap.dx-bordered-top-view {
background-color: #dfdfdf;
  color: #000;
  /* padding: 0px; */
}
td.dx-treelist-cell-expandable , td#dx-col-7{
  padding: 10px !important;
}